{% extends "base.html" %}
{% block head %}

{% endblock %}
{% block content %}
<br />
<div class="jumbotron">
<table>
<tr><td> 
    &nbsp;&nbsp;&nbsp;&nbsp;
    <form method="get" action="/search" autocomplete="off" form style="display:inline">
    <input type="text"  size = "75" name="sterm" pattern="[a-zA-Z0-9 ]{1,}"title="a-z A-Z 0-9" maxlength="75"  autofocus required>
    <button type ="submit" class="button" value="Display">&larr;Search Height, Hash or Address</button></form>
</td><td> 
<h4>&nbsp;
    {% if stats[0] > 0 %}
        Network Hash Rate:&nbsp;<font style="color:maroon;">{{ stats[0] | normalize }}&nbsp;{{ ratelabel }}</font>&nbsp;&nbsp;
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Total coin-supply: <span style="color:maroon;">{{ stats[0] | normalize }}</span></h4>
</tr></td>
</table>
</div>
<div class="container-fluid table-responsive">
<table>
<tr><td> 
<h5>&nbsp;&nbsp;&nbsp; <a href="/">Home</a> ....... <a href="?height={{ prevPage }}&num={{ numberOfBlocks }}">&lt;&lt;&lt; &nbsp;&nbsp;Back</a> ....... <a href="?height={{ nextPage }}&num={{ numberOfBlocks }}">Next &nbsp;&nbsp;&gt;&gt;&gt;</a></h5>
</tr></td>
</table>

     <table class="table table-condensed table-striped table-hover">
        <thead>
            <th>Height</th>
            <th>Age</th>
            <th>Transactions</th>
            <th>Total Sent</th>
            <th>Difficulty</th>
            <th>Size</th>
        </thead>
     <tbody>
     {% for row in topblocks %}
     <tr>
	<td><h5><a href="block?block={{ row[0] }}">{{ row[0] }}</a></h5></td>
	<td>{{ row[2] | format_time }}<div style="font-size:9px">{{ row[2] | time_passed }}</div></td>
		<td>{{ row[11] }}</td><td>{{ row[12] | normalize }}</td><td>{{ row[5] | normalize }}</td><td>{{ row[6] }}</td></tr>
	{% endfor %}
         </tbody>
    </table>
<table>
<tr><td> 
<h5>&nbsp;&nbsp;&nbsp; <a href="/">Home</a> ....... <a href="?height={{ prevPage }}&num={{ numberOfBlocks }}">&lt;&lt;&lt; &nbsp;&nbsp;Back</a> ....... <a href="?height={{ nextPage }}&num={{ numberOfBlocks }}">Next &nbsp;&nbsp;&gt;&gt;&gt;</a></h5>
</tr></td>
</table>
</div>

{% endblock %}
